<footer >
    <div class="f-info" style="border-top: 2px solid #dee2e6;">
        <div class="f-info-socials mb-1">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="f-info-brand mb-1">&copy;RoamingRoof Private Limited</div>
    
    <div class="f-info-links mb-1">
        <a href="/privacy">Privacy</a>&nbsp
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>