<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3 class="mt-2"><b>Host your property</b></h3>
  <form action="/listings"method="post" novalidate class="needs-validation"enctype="multipart/form-data">
    <div class="mt-3">
        <label for="title" class="form-label"><b>Title</b></label>
        <input type="text"name="listing[title]"placeholder="Enter the title" class="form-control" required>
         <div class="valid-feedback">title looks good</div>
    </div>
        
        <div class="mt-3">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea name="listing[description]" placeholder="Give Description" class="form-control" required></textarea>
             <div class="invalid-feedback">please provide description</div>
        </div>
       

         <div class="mt-3">
            <label for="image" class="form-label"><b>Upload Image</b></label>
            <input type="file"name="listing[image]"class="form-control">
            required
        </div>
        
        
        <div class="row">

            
            <div class="col-md-8 mt-3">
                <label for="location" class="form-label"><b>Location</b></label>
                <input type="text" name="listing[location]"placeholder="Enter Location"class="form-control" required>
                  <div class="invalid-feedback">please enter location</div>
            </div>

            <div class="col-md-4 mt-3">
                <label for="country"class="form-label"><b>Country</b></label>
                <input type="text"name="listing[country]"placeholder="Enter Country"class="form-control"required>
                <div class="invalid-feedback">enter the country field</div>
            </div>


            
        </div>
        
       
       <div class="mt-3">
        <label for="price"class="form-label"><b>Price</b></label>
        <input name="listing[price]"placeholder="Enter Price"class="form-control" required>
        <div class="invalid-feedback">enter the price in correct format</div>
    </div>
        
        
<br>
        <button class=" btn btn-danger"> Add</button>
        <br><br>
    </form>
</div>
</div>
</body>
